@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-image: url(./data/weather2.png);
  background-repeat: no-repeat;
}
.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
  /* background-color: red; */
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.city {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}
