@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./data/colorclouds/Weather1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
}

.app-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
}

.search {
  display: flex;
  justify-content: space-around;
  border: 2px solid blue;
}

.cities-container {
  max-width: 1000px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid green;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  height: 300px;
  width: 400px;
  border: 2px solid rgb(27, 7, 99);
  margin: 30px;
  border-radius: 8px;
  padding: 2px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card:hover {
  transform: scale(1.03);
}

.colorized {
  flex: 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url(./data/colorclouds/bgCloud.png);
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.city-date-sky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.phvwindsun {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #212121;
  flex: 3;
  width: 100%;
}
.temperature-display {
  display: flex;
  flex-direction: column;
}
.footer {
  padding: 8px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}
